$primary-color: #333;
$secondary-color: #0b0e11;
$background-color: #ffffff;
$text-color: #213547;

$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$font-size-base: 16px;

$mobile-breakpoint: 767px;
